.question {
    color:white;
}

.game {
    background: url(../images/flag.gif);
    background-size: cover !important;
    background-repeat: no-repeat;
}

.question button {
    background: #666;
    border: 3px solid #888;
    border-radius: 4px;
    color: #fff;
    font-family: monospace;
    font-size: 30px;
    line-height: 14px;
    margin: 6px;
    padding: 26px;
    outline: none !important;
}

.question button:hover {
  background: #777;
  border-color: #999;
}

.question .buttons {
    height:220px;
    text-align:center;
}

.name .title{
    font-weight: bold;
    text-shadow: 2px 2px #494949;
    padding:100px;
    font-family: monospace;
    font-size:40px;
    text-align:center;
    height:180px;
    color:#fff;
}

.question .title {
    font-weight: bold;
    text-shadow: 2px 2px #494949;
    padding:100px;
    font-family: monospace;
    font-size:40px;
    text-align:center;
    height:180px;
    color:#fff;
}
.question .subtitle {
    text-shadow: 1px 1px #494949;
    font-family: monospace;
    font-size:20px;
    text-align:center;
    color:#fff;
}

input[type="text"] {
  font-family: monospace;
  font-size:25px;
  padding: 10px;
  border: none;
  border-bottom: solid 5px #c9c9c9;
  transition: border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  border-bottom: solid 5px #969696;
}

textarea:focus, input:focus{
    outline: none;
}